/*Funcionamento no Firefox*/
*{
    scrollbar-width: thin;
    scrollbar-color: grey black;
}

/*Funcionamento no Chrome, Edge e Safari*/
*::-webkit-scrollbar{
    width: 25px;
}

*::-webkit-scrollbar-track{
    background: black;
}

*::-webkit-scrollbar-thumb{
    background-color: grey;
    border-radius: 20px;
    border: 3px solid black;
}